{% extends 'MyApp/__base__.html' %}
    {% block content %}
    <header>

        <!-- NAVBAR -->
        {% include 'MyApp/components/navbar_component.html' %}

    <section class="login-page" style="width: 70%; margin-left: auto">

        <h2>Podaj email na który ma zostać wysłany link do zresetowania hasła.</h2>

      <form action="" method="POST">
      {% csrf_token %}

        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Wyslij</button>
        <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj</a>

        </div>

      </form>
    </section>

    </header>



{% endblock %}