{% extends 'MyApp/__base__.html' %}
    {% block content %}
    <header>

        <!-- NAVBAR -->
        {% include 'MyApp/components/navbar_component.html' %}

        <section class="login-page" style="width: 70%; margin-left: auto">

        {% if messages %}
            <h2>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h2>

            {% else %}
            <h2>Resetuj haslo</h2>
        {% endif %}



          <form action="" method="POST">
          {% csrf_token %}

            <div class="form-group">
              <input type="password" name="password" placeholder="Nowe haslo" />
            </div>
            <div class="form-group">
              <input type="password" name="password2" placeholder="Powtorz haslo" />
            </div>

            <div class="form-group form-group--buttons">
              <button class="btn" type="submit">Zmien</button>
            </div>

          </form>
        </section>

    </header>
{% endblock %}
